@font-face {
    font-family: "Nunito";
    src: url("../fonts/Nunito-Light.woff2") format("woff2"),
        url("../fonts/Nunito-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

/* Nunito Regular */
@font-face {
    font-family: "Nunito";
    src: url("../fonts/Nunito-Regular.woff2") format("woff2"),
        url("../fonts/Nunito-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

/* Nunito Medium */
@font-face {
    font-family: "Nunito";
    src: url("../fonts/Nunito-Medium.woff2") format("woff2"),
        url("../fonts/Nunito-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

/* Nunito Bold */
@font-face {
    font-family: "Nunito";
    src: url("../fonts/Nunito-Bold.woff2") format("woff2"),
        url("../fonts/Nunito-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

/* Nunito Italic */
@font-face {
    font-family: "Nunito";
    src: url("../fonts/Nunito-Italic.woff2") format("woff2"),
        url("../fonts/Nunito-Italic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transition-duration: 0.3s;
}

html,
body {
    width: 100%;
    height: 100%;
    min-width: 320px;
    font-family: "Poppins", sans-serif;
}

.App {
    text-align: center;
    width: 100%;
}
img {
    width: 100%;
    display: block;
}

.slick-track {
    display: flex !important;
    gap: 20px !important;
}

/* header */
#hamburgerMenu {
    cursor: pointer;
    font-size: 24px;
    color: #1baaa0;
    transition: transform 0.3s ease-in-out;
}

#hamburgerMenu.active i {
    transform: rotate(90deg);
}
header {
    width: 100%;
    height: 85px;
    padding: 5px 0;
    background-color: #fff;
}

header nav {
    width: 95%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav .logoContainer {
    width: 160px;
    cursor: pointer;
}

header nav .logoContainer span {
    margin: 10px 0 0 6px;
    font-weight: bold;
    font-size: 24px;
    font-family: "Nunito";
}

header nav .nav-links {
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    transition: all 0.3s ease-in-out;
}

header nav .nav-links li {
    color: #1baaa0;
    font-family: "Nunito";
    font-size: 18px;
}

header nav .nav-links li a {
    text-decoration: none;
    color: #1baaa0;
    font-weight: 500;
}
header nav .nav-links li a:hover {
    color: #000;
}
.nav-links.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 85px;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: all 0.3s ease-in-out;
}

.nav-links.active li {
    margin: 10px 0;
}

/* Hero Section */
.hero {
    background: rgba(27, 170, 160, 0.2);
    color: white;
    padding: 50px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero .left {
    width: 50%;
}
.hero .left h1 {
    font-size: 60px;
    margin-bottom: 20px;
    color: #101010;
    font-family: "Nunito";
    font-weight: 800;
}

.hero .left .cta-button {
    padding: 16px 35px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    color: #fff;
    border: solid 2px #1baaa0;
    background: #1baaa0;
    font-family: "Nunito";
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    min-height: 20px;
    transition: all 0.4s ease-in-out;
}

.hero .left .cta-button:hover {
    color: #1baaa0;
    background: #fff;
    border-color: #1baaa0;
}

.hero .right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}
.hero .right .ImgContainer {
    width: 600px;
}
/* Services Section */
.services {
    padding: 90px 50px;
    background-color: #f9f9f9;
}

.services h2 {
    text-align: center;
    font-size: 45px;
    margin-bottom: 1.5rem;
    font-family: "Nunito";
    font-weight: 700;
    color: #333;
}

.service-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.service-card {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #fff;
    border-radius: 10px;
    padding: 30px;
    width: 30%;
    display: flex;
    height: 280px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    background-color: #00253e;
}

.service-card .icon {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.fa-rocket {
    font-size: 30px;
    color: #000;
}
.fa-photo-film {
    font-size: 30px;
    color: #000;
}

.fa-money-bill-1 {
    font-size: 30px;
    color: #000;
}
.fa-solid,
.fas {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: #000;
}
.fa-chart-area {
    font-size: 30px;
    color: #000;
}
.service-card:hover .fa-photo-film {
    color: #fff;
}
.service-card:hover .fa-photo-film {
    color: #fff;
}

.service-card:hover .fa-rocket {
    color: #fff;
}

.service-card:hover .fa-money-bill-1 {
    color: #fff;
}

.service-card:hover .fa-chart-area {
    color: #fff;
}

.service-card h3 {
    font-size: 1.25rem;
    color: #000;
    margin: 0.5rem 0;
    font-weight: bold;
    font-family: "Nunito";
}
.service-card:hover h3 {
    color: #fff;
}

.service-card p.dummy {
    color: #747474;
    font-size: 0.9rem;
    font-family: "Nunito";
}
.service-card:hover p {
    color: #fff;
}

.service-card .arrow {
    font-size: 1.5rem;
    color: #1baaa0;
    width: 50px;
    height: 50px;
    background-color: #1baaa0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.fa-arrow-right {
    color: #fff;
    font-size: 20px;
}
.service-card .para {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
/* Why Choose Us Section */
.why-choose-us {
    padding: 90px 50px;
    background-color: rgba(27, 170, 160, 0.08);
}
.why-choose-us h2 {
    text-align: center;
    font-size: 45px;
    margin-bottom: 1.5rem;
    font-family: "Nunito";
    font-weight: 700;
    color: #333;
}
.why-choose-us p.desc {
    text-align: center;
    font-size: 20px;
    width: 80%;
    margin: 0 auto;
    font-family: "Nunito";
    color: #333;
}
.features {
    margin-top: 50px;
}
.features .features-list {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.article-card {
    width: 30%;
    height: 650px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.article-card:hover {
    border: 2px solid #ccc;
    /* background: linear-gradient(#adece7 100%, #ddd 100%); */
}
.card-content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-content h3.title {
    color: #000;
    font-family: "Nunito";
    font-weight: 600;
    font-size: 22px;
}
.card-content p.author {
    color: #747474;
    font-family: "Nunito";
    font-size: 14px;
    margin: 10px 0;
}
.card-content .dummy {
    color: #333;
    font-family: "Nunito";
    font-size: 20px;
}
/* .feature {
    background: #ddd;
    padding: 10px 20px;
    border-radius: 5px;
} */

/* Testimonials Section */
.testimonial {
    padding: 90px 50px;
    height: 100vh;
    background-color: rgba(27, 170, 160, 0.2);
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    overflow: hidden;
}
.testimonial h2 {
    text-align: center;
    font-size: 45px;
    margin-bottom: 1.5rem;
    font-family: "Nunito";
    font-weight: 700;
    color: #333;
}
.testimonial .one-time {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    height: 65vh;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
}
.testimonial_section {
    position: relative;
    width: 800px;
    height: 500px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    padding: 30px;
    background-color: #fff;

    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.testimonial_section img.client {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 15px;
    /* position: relative; */
    /* display: block; */
}
.testimonial_section div.overlay {
    position: absolute;
    top: 30px;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.testimonial_section:hover .overlay {
    opacity: 1;
}
.testimonial_section:hover .testimonial_section .media {
    display: block;
}
.testimonial_section div.overlay a.icon .facebook {
    color: #fff;
}
.testimonial_section div.overlay a i {
    font-size: 27px;
    color: #fff;
}
blockquote {
    font-style: italic;
    font-size: 1.2rem;
    margin: 20px 0;
    color: #000;
    font-family: "Nunito";
}
.testimonial_section p {
    font-family: "Nunito";
    color: #00253e;
    font-weight: 500;
    font-size: 22px;
}

/* Contact Section */
.contact {
    padding: 90px 50px;
    background-color: #062624;
    display: flex;
    justify-content: space-between;
}

.contact .contact_left {
    width: 50%;
}

.contact .contact_left h2 {
    color: #f9f9f9;
    font-weight: 700;
    font-family: "Nunito";
    margin-bottom: 10px;
    font-size: 50px;
}

.contact .contact_left form {
    background-color: aliceblue;
    border-radius: 10px;
    padding: 40px;
}
.contact .contact_left form .form_Details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact .contact_left form .form_Details label {
    font-family: "Nunito";
    font-weight: 500;
    font-size: 20px;
    color: #101010;
}

.contact .contact_left form .form_Details input,
textarea {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact .contact_left form button {
}

.contact .contact_right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form button {
    padding: 15px 40px;
    cursor: pointer;
    background: #1baaa0;
    color: white;
    border: none;
    font-family: "Nunito";
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
}

form button:hover {
    background: #062624;
    color: #fff;
}

.contact_right .elementor-widget-container {
    width: 70%;
    margin: 0 auto;
}
.contact_right .elementor-widget-container ul.elementor-icon-list-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    gap: 45px;
}
.contact_right
    .elementor-widget-container
    ul.elementor-icon-list-items
    .elementor-icon-list-item {
    width: 44%;
}
.contact_right
    .elementor-widget-container
    ul.elementor-icon-list-items
    .elementor-icon-list-item
    a
    .elementor-icon-list-text {
    color: #fff;
    font-size: 20px;
    font-family: "Nunito";
    font-weight: 500;
}
.contact_right
    .elementor-widget-container
    ul.elementor-icon-list-items
    .elementor-icon-list-item
    a
    .elementor-icon-list-text:hover {
    color: #747474;
}
/* Footer */

.footer {
    background: #fff;
    color: #000;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer .social-media a,
.footer .quick-links a {
    color: #000;
    margin-right: 10px;
    text-decoration: none;
}
.slick-dots {
    bottom: -30px;
}

.slick-prev,
.slick-next {
    color: #333;
    font-size: 20px;
    z-index: 1;
}
.slick-track {
    opacity: 1 !important;
    width: 7950px;
    transform: translate3d(-1590px, 0px, 0px);
    display: flex !important;
    justify-content: space-between !important;
    gap: 34px !important;
}
.slick-slide {
    width: 460px !important;
}
.menu {
    display: none;
}
.testimonials {
    width: 80%;
    margin: auto;
    text-align: center;
}

blockquote {
    font-style: italic;
}
footer .social-media a i {
    font-size: 25px;
}
footer .social-media a i:hover {
    color: #1baaa0;
}
/* responsive */
/* 1280px and below */
@media all and (max-width: 1280px) {
    .hero .left h1 {
        font-size: 48px;
    }

    .service-card {
        width: 45%;
        height: unset;
    }

    .article-card {
        width: 45%;
    }

    .testimonial_section {
        width: 700px;
    }
    .contact .contact_left h2 {
        margin-bottom: 20px;
    }
}

/* 1080px and below */
@media all and (max-width: 1080px) {
    .hero {
        padding: 30px;
        height: auto;
    }

    .hero .right .ImgContainer {
        width: 450px;
    }

    .services {
        height: auto;
        padding: 60px 30px;
    }

    .contact {
        flex-direction: column;
        gap: 40px;
    }

    .contact .contact_left,
    .contact .contact_right {
        width: 100%;
    }
}

/* 980px and below */
@media all and (max-width: 980px) {
    header nav .nav-links {
        display: none;
    }

    .menu {
        display: block;
        position: absolute;
        right: 20px;
        top: 30px;
        font-size: 24px;
        cursor: pointer;
    }

    .hero {
        flex-direction: column;
        gap: 40px;
    }

    .hero .left,
    .hero .right {
        width: 100%;
    }

    .hero .right {
        justify-content: center;
    }

    .service-card {
        width: 40%;
        height: auto;
        min-height: 220px;
    }

    .features .features-list {
        flex-wrap: wrap;
    }

    .article-card {
        width: 100%;
        height: auto;
    }
}

/* 768px and below */
@media all and (max-width: 768px) {
    .testimonial_section {
        width: 100%;
        height: auto;
        min-height: 400px;
    }

    .contact_right .elementor-widget-container {
        width: 100%;
    }

    .contact_right
        .elementor-widget-container
        ul.elementor-icon-list-items
        .elementor-icon-list-item {
        width: 45%;
    }

    .footer {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .footer .social-media,
    .footer .quick-links {
        width: 100%;
    }
    .card-content h3.title {
        font-size: 20px;
    }
    .why-choose-us p.desc {
        font-size: 18px;
    }
    .card-content .dummy {
        font-size: 18px;
    }
}

/* 640px and below */
@media all and (max-width: 640px) {
    .hero .left h1 {
        font-size: 36px;
    }
    .service-card {
        width: 80%;
    }
    .services h2,
    .why-choose-us h2,
    .testimonial h2,
    .contact .contact_left h2 {
        font-size: 32px;
    }

    .why-choose-us p.desc {
        width: 100%;
        font-size: 16px;
    }
    .contact .contact_left form .form_Details input,
    textarea {
        width: 70%;
    }
    .contact_right
        .elementor-widget-container
        ul.elementor-icon-list-items
        .elementor-icon-list-item {
        width: 44%;
    }
}

/* 480px and below */
@media all and (max-width: 480px) {
    header {
        height: 70px;
    }

    header nav .logoContainer {
        width: 120px;
    }

    .hero .right .ImgContainer {
        width: 100%;
    }

    .contact .contact_left form .form_Details {
        flex-direction: column;
        align-items: flex-start;
    }

    .contact .contact_left form .form_Details input,
    .contact .contact_left form .form_Details textarea {
        width: 100%;
    }
    .contact_right
        .elementor-widget-container
        ul.elementor-icon-list-items
        .elementor-icon-list-item {
        width: 42%;
    }
    .testimonial,
    .why-choose-us {
        padding: 50px 50px;
    }
    .testimonial_section {
        height: unset;
    }
    .testimonial_section:last-child {
        margin-bottom: 0px;
    }
    .service-card {
        width: 100%;
    }
    .contact_right
        .elementor-widget-container
        ul.elementor-icon-list-items
        .elementor-icon-list-item
        a
        .elementor-icon-list-text {
        font-size: 16px;
    }
    .contact {
        padding: 50px 33px;
    }
    .footer {
        padding: 10px;
    }
}

/* 360px and below */
@media all and (max-width: 360px) {
    .hero .left h1 {
        font-size: 28px;
    }

    .testimonial_section img.client {
        width: 150px;
        height: 150px;
    }

    .testimonial_section div.overlay {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 980px) {
    .slick-track {
        gap: 10px !important;
    }
}
